<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
 <footer>
            <div>
                <span><a target="_blanc" href="http://onedeveloper.ru/search?w=Java">Новости</a></span>
                <span><a target="_blanc" href="http://onedeveloper.ru/search?w=Java">Контакты</a></span>
            </div>
        </footer>
    </body>
</html>